html {
	min-height: 100%;
}

body {
	min-height: 100%;
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: 400;
	color: #000000;
	background-color: #424242;

	background: #FDC830;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

.wrapper {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 50px;
}

.name {
	font-size: 58px;
	font-weight: 400;
	margin: 0;
	line-height: 1.5;
	font-family: 'Oranienbaum', cursive;
	color: #fff;
}

.title {
	font-size: 36px;
	font-weight: 400;
	margin: 0;
	line-height: 1.5;
	color: #fff;
}

.hidden {
	display: none;
}

.copyright {
	opacity: .5;
	margin-bottom: 50px;
} 

.copyright p {
	font-size: 18px;
	color: #FFF;
}

.copyright a {
	color: #FFF;
	text-decoration: underline;
}